<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h1 style="background-color:DarkTurquoise; text-align: center;"> Hello World</h1>

<br/>
<p><b>Hostname:</b> {{.}} </p>

</body>
</html>
